/* index.css */
@import "tailwindcss";

/* Hide scrollbar utility class */
.scrollbar-hide {
    -webkit-overflow-scrolling: touch;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: 'Inter', 'ui-sans-serif', sans-serif;
}